$bg: rgb(235, 172, 172);

// import bootstrap supaya scss ini menggunakan scss dan bootstrap
// supaya bootstrap nya bisa di ubah ubah stylenya
@import "bootstrap/scss/bootstrap";

.form form {
  position: relative;
}

.pokemon-container {
  display: flex;
  justify-content: end;
}

.img-pokemon-1 {
  width: 100px;
}

/* alert LOGIN */
.gagal {
  position: relative;
  top: -500px;
}

.gagal-login {
  position: relative;
  top: 0;
  transition: 0.3s;
}
